<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <property name="LOG_PATH" value="/tmp/logs/swagger/"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{0} [%X{correlation-id}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/logs/swagger/log-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{correlation-id}] - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>/tmp/logs/swagger/log-error-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <appender name="debug"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/logs/swagger/log-debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{correlation-id}] - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>/tmp/logs/swagger/log-debug-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <appender name="info"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/logs/swagger/log-info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{correlation-id}] - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>/tmp/logs/swagger/log-info-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!--<appender name="snmpTrap" class="tmp.commons.LogbackSnmpAppender">-->
        <!--<encoder-->
                <!--class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<Pattern>%m%n</Pattern>-->
        <!--</encoder>-->
        <!--<snmpTrapFileName>/tmp/snmp/snmp.sh</snmpTrapFileName>-->
        <!--<poolSize>2</poolSize>-->
        <!--<maxDelay>50</maxDelay>-->
    <!--</appender>-->

    <!--<logger name="snmp_logger" level="info">-->
        <!--<appender-ref ref="snmpTrap"/>-->
    <!--</logger>-->

    <appender name="transLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/logs/swagger/log-trans.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>/tmp/logs/swagger/log-trans-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <logger name="com.tmp" level="debug"/>
    <logger name="tmp.eapsim" level="debug"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate"/>
    <logger name="com.mchange"/>
    <logger name="org.apache"/>
    <logger name="io.netty" level="info"/>
    <logger name="org.littleshoot" level="info"/>

    <logger name="transLog" level="INFO" additivity="false">
        <appender-ref ref="transLog"/>
    </logger>

    <root level="error">
        <!--<appender-ref ref="info"/>-->
        <!--<appender-ref ref="debug"/>-->
        <!--<appender-ref ref="error"/>-->
        <appender-ref ref="console"/>
    </root>

</configuration>